



.content__wrapper {
    height: 80vh;
    width: 100%;
}

/* first block----------------------------------------------------- */

.first_block {
    display: flex;
}

.left__side {
    padding: 0 8rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
}

.right__side {
    width: 50%;
    height: 100%;

    display: grid;
    place-items: center;
}

.first_block__pretitle {
    width: 300px;
}

.first_block__card {
    height: 186px;
    transform: rotate(-40deg);
    width: 60%;
}

.first_block__textBase {
    width: 100%;

    position: relative;

    display: flex;
    justify-content: start;
}

.card_mobile {
    display: none;
}

.first_block__title {
    position: absolute;
    width: 450px;
}

@media screen and (max-width:780px) {        
    .card_mobile {
        display: block;

        width: 100%;
    } 

    .right__side {
        display: none;
    }

    .left__side {
        padding: 0 4rem;

        width: 100%;
    }

    .first_block__title {
        position: relative;
        width: 100%;
    }

    .first_block__pretitle {
        width: 100%;
    }
}

/* first block----------------------------------------------------- */



/* second block----------------------------------------------------- */

.second_block {
    padding: 0 4rem;
}

.second_block__textBlock {
    width: 100%;

    display: flex;
    justify-content: start;
}

.second_block__text {
    width: 50%;

    font-family: var(--ibm-font);
    color: var(--main-bright-red);

    font-size: 1rem;
}

.second_block__imgBlock {
    width: 100%;
    display: grid;
    place-items: center;
    padding-top: 2rem;
    height: auto;
}

.second_block__soldiers {
    width: 100%;
}

@media screen and (max-width:780px)  {
    .second_block__text {
        width: 90%;
    }
}

/* second block----------------------------------------------------- */


/* third block----------------------------------------------------- */

.third_block {
    width: 100%;
}



.third_block__title {
    width: 40%;
}

.third_block__cardsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.third_block__card {
    
    display: flex;

    padding: 4rem;

    justify-content: center;
}




.third_block__cardImg {
    width: 200px;
    height: 200px;
    transition: .5s;
}

.third_block__cardImg:hover {
    filter: drop-shadow(0px 0px 60px #630215);
}


.third_block__cardTitle {
   font-size: 1.8rem;
   font-weight: 600;

   color: var(--main-bright-red);

   font-family: var(--Onest-font);
}

.third_block__cardPreTitle {
    font-size: 1rem;
    font-weight: 400;
 
    color: var(--main-bright-red);
 
    font-family: var(--Onest-font);
}

.lastBtn__href {
    color: var(--main-dark-red);
 
    font-family: var(--ibm-font);

    font-size: 1.4rem;
    font-weight: 400;

    transition: .5s;
}

.lastBtn__href:hover {
    color: var(--main-bright-red);
}

@media screen and (max-width:780px)  {
    .third_block__cardsGrid {

        grid-template-columns: repeat(1, 1fr);
    }

    .third_block__title {
        width: 85%;
    }
    
    .lastBtn__href {
    
        font-size: 1rem;
    }

    @media screen and (max-width: 500px) {
        .third_block__cardTitle {
            font-size: 1rem;
        }

        .third_block__cardPreTitle {
            font-size: .7rem;
        }
        .third_block__card {
            padding: 4rem 2rem;
        }
      

    }
}

/* third block----------------------------------------------------- */


/* four block-------------------------------------------------------------- */

.four_block__listSpace {


    display: flex;
    flex-direction: column;

    gap: 2rem;

    padding: 0 8rem;
}

.four_block__listElem {

    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.four_block__listElem_date {
    font-family: var(--ibm-font);
    color: var(--main-dark-red);

    font-weight: 400;
    font-size: 1.2rem;

   
}

.four_block__listElem_newsTitle {
    font-family: var(--ibm-font);
    color: var(--main-bright-red);

    font-weight: 400;
    font-size: 1.8rem;

    width: 80%;
}

.four_block__listElem:hover {
    box-shadow: inset 1px 1px 100px 2px #630215;
}

@media screen and (max-width:780px)  {
    .four_block__listElem_newsTitle {
        font-size: 1rem;
        width: 100%;
    }

    .four_block__listSpace {
        padding: 0 4rem;
    }
    
}

/* four block-------------------------------------------------------------four



/* five block-------------------------------------------------------------- */



.five_block__preTitle {
    font-family: var(--Onest-font);
    font-size: 2rem;
    font-weight: 300;
    color: var(--main-bright-red);
}




.five_block__Side_InputsSpace {
    width: 70%;

    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.five_block__input::placeholder {
    color: var(--main-dark-red);

    font-weight: 300;
    font-size: 1.2rem;

    font-family: var(--ibm-font);
}

.five_block__input {
    width: 100%;
    color: var(--main-bright-red);

    font-weight: 300;
    font-size: 1.2rem;

    font-family: var(--ibm-font);

}

.five_block__inputComponent_undeline {
    width: 100%;
    height: 2px;

    background: var(--main-dark-red);
}


.five_block__inputBlock {
    width: 90%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.five_block__checkBoxForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.input[type="checkbox"] {
    display: none;
}
  
  

.custom-checkbox {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--main-dark-red);

    position: relative;
    cursor: pointer;
}
  

.custom-checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: .6rem;
    height: .6rem;
    background-color: var(--main-bright-red);

    opacity: 0;
}



.input[type="checkbox"]:checked + .custom-checkbox::after {
    opacity: 1;
}

.five_block__checkBox_label {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.five_block__textCheckBox {
    font-family: var(--ibm-font);
    color: var(--main-dark-red);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: -0.03em;
    text-align: left;
}

.input[type="checkbox"]:checked > .five_block__textCheckBox  {
    color: var(--main-bright-red);
}

.five_block__form {
    gap: 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 0 4rem;


}

#five_block__firstGridComponent {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: auto;
    grid-row-end: auto;
    order: 1;
}

#five_block__secondGridComponent {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: auto;
    grid-row-end: auto;
    order: 1;
}

#five_block__thirdGridComponent {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: auto;
    grid-row-end: auto;
    order: 1;
}


.five_block__buttonBlock {
    width: 100%;

    display: grid;
    place-items: center;

    height: 20vh;
}

.five_block__button {
    background: var(--main-bright-red);
    color: #111;
    font-size: 1.7rem;
    font-family: var(--ibm-font);
    font-weight: bolder;
    width: 14rem;
    height: 5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 100% 85%, 100% 100%, 9.8% 100%, 0% 74.5%, 0% 15%);

    border: none;
}


.five_block__button:hover {
    background-color: var(--main-dark-red);
}

@media screen and (max-width:780px)  {
    .five_block__form {
        grid-template-columns: repeat(1, 1fr);
    }

    #five_block__firstGridComponent {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
        order: auto;
    }

    #five_block__secondGridComponent {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
        order: auto;
    }

    #five_block__thirdGridComponent {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
        order: auto;
    }

    .five_block__preTitle {
        font-size: 1.6rem;
    }



    
    .five_block__inputBlock {
        width: 250px;
    }

 

    .five_block__form {
        flex-direction: column;

        padding: 0 2rem;

        gap: 2rem;

        align-items: center;
    }

    @media screen and (max-width: 500px) {

        .five_block__preTitle {
            font-size: 1.4rem;
        }

        .five_block__inputBloc {
            width: 200px;
        }

        .five_block__input-container {
            position: relative;
        
            width: 200px;
        }
        .custom-checkbox {
            width: .7rem;
            height: .7rem;
        }
          
        
        .custom-checkbox::after {
            width: .4rem;
            height: .4rem;
        }
        .five_block__textCheckBox {
            font-size: 1.1rem;
        }

        .five_block__form {
            flex-direction: column;

      
    
            gap: 2rem;
    
            align-items: center;
        }
        
       
    }
}

/* five block-------------------------------------------------------------- */


