.develop__block {

    display: flex;
    flex-direction: column;
    gap: 4rem;

    align-items: center;

}

.develop__gifBlock {
    width: 70%;

    display: grid;
    place-items: center;

}

.develop__gear {
    max-width: 80%;
    width: 27%;
}

.develop__title {
    font-size: clamp(1.2rem, 5vw, 3.3rem);
    font-family: var(--ibm-font);
    color: var(--main-bright-red);
}


    @media screen and (max-width:550px) {

        .develop__gear {
            max-width: 70%;
        }
        
    
    }
